<footer class="footer">
    <div id="contactme">
      <h1>Are you Ready to start your project?</h1>
      <h2>I'm available for full-time or part-time positions where I can apply my JavaScript skills to create innovative and high-quality web solutions. Let’s connect and build something great.</h2>
      <a href="mailto:andrej.mishev10@gmail.com" id="talk">Let's Talk</a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; <span id="andrej">Andrej Mishev</span> All rights reserved.
      </p>
    </div>
  </footer>