<div class="section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="h4 text-center mb-4 title">Some <span class="andrej">recent</span> work</div>
          <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content gallery mt-5">
        <div class="tab-pane active" id="web-development">
          <div class="ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://github.com/AnoMishev/hungrygorrila_front" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/hg.png" alt="Image" />
                      <figcaption>
                        <div class="h4">Made Using Angular/ExpressJS/DataBases</div>
                        <p>Hungry Gorilla App</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://github.com/AnoMishev/calculator_app" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/calculator.jpg" alt="Image" />
                      <figcaption>
                        <div class="h4">Made Using Angular</div>
                        <p>Calculator App</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
            <div class="row">
                            <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://github.com/AnoMishev/fitnesstracker_app" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/fittrackerr.png" alt="Image" />
                      <figcaption>
                        <div class="h4">Made Using Angular</div>
                        <p>Fit Tracker App</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://github.com/AnoMishev/capitalgame_app" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/capitalcity.jpg" alt="Image" />
                      <figcaption>
                        <div class="h4">Made Using Angular</div>
                        <p>Capital City App</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
                            <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://github.com/AnoMishev/dogbreed_app" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/dogbreed.png" alt="Image" />
                      <figcaption>
                        <div class="h4">Made Using Angular + ExpressJS + DB</div>
                        <p>DogBreed App</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
               <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://github.com/AnoMishev/tictactoe_app" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/tictactoe.jpg" alt="Image" />
                      <figcaption>
                        <div class="h4">Made Using Angular</div>
                        <p>TicTacToe App</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>