<div class="profile-page" id="about">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/img2.jpg" alt="Image" />
            </a>
          </div>
          <div>
            <h1 class="h2 title">Andrej Mishev</h1>
          <p class="category text-white">Full-stack JavaScript developer by <span class="andrej">craft</span>, indie maker by <span class="andrej">passion</span>, and digital nomad by lifestyle — living and coding on the <span class="andrej">internet</span>.</p>
          <a class="btn btn-primary" a href="../../../assets/Andrej Mishev CV_001.pdf" download="Andrej_Mishev_CV.pdf" id="download" target="_blank" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Download CV</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
